<%- include('../../partials/headers/__headerCommitteeAndAdmin.ejs', { title: 'Tambah Tahun Angkatan' }) %>
<%- include('../../partials/nav-sides/__nav-sideCommite.ejs') %>

<div class="main-panel">
    <%- include('../../partials/messages/__messageCommitteeAndAdmin.ejs') %>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Tambah Tahun Angkatan</h4>
                  <p class="card-description">Masukkan tahun angkatan baru</p>
                  <form action="/panitia/tahun-angkatan/buat" method="POST" data-loading>
                    <div class="form-group">
                      <label for="year">Tahun Angkatan</label>
                      <select class="form-control" id="year" name="year" required>
                        <option value="">Pilih Tahun Angkatan</option>
                        <% for (var i = new Date().getFullYear() + 5; i >= 1800; i--) { %>
                          <option value="<%= i %>"><%= i %></option>
                        <% } %>
                      </select>
                    </div>
                    <div class="d-flex">
                      <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                      <a href="/panitia/tahun-angkatan" class="btn btn-light" data-loading>Kembali</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/scripts/__scriptCommitteeAndAdmin.ejs') %>