<%- include('../partials/headers/__headerCommitteeAndAdmin.ejs', { title: 'Ubah Password' }) %>
<%- include('../partials/nav-sides/__nav-sideAdmin.ejs') %>
<div class="main-panel">
    <%- include('../partials/messages/__messageCommitteeAndAdmin.ejs') %>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Ubah Kata Sandi</h4>
                  <p class="card-description">Masukkan Kata Sandi lama dan Kata Sandi baru</p>
                  <form action="/admin/change-password" method="POST" data-loading>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="password">Kata Sandi Lama</label>
                          <div class="password-input-wrapper">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Masukkan Kata Sandi lama" value="<%= (data && data.password) ? data.password : '' %>" required>
                            <button type="button" class="password-toggle-btn" data-target="password">
                              <i class="mdi mdi-eye-off"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="newPassword">kata Sandi Baru</label>
                          <div class="password-input-wrapper">
                            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Masukkan kata Sandi baru" value="<%= (data && data.newPassword) ? data.newPassword : '' %>" required>
                            <button type="button" class="password-toggle-btn" data-target="newPassword">
                              <i class="mdi mdi-eye-off"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="confirmNewPassword">Konfirmasi kata Sandi Baru</label>
                          <div class="password-input-wrapper">
                            <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="Konfirmasi kata Sandi baru" value="<%= (data && data.confirmNewPassword) ? data.confirmNewPassword : '' %>" required>
                            <button type="button" class="password-toggle-btn" data-target="confirmNewPassword">
                              <i class="mdi mdi-eye-off"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <small class="form-text text-muted">kata Sandi minimal 6 karakter, mengandung huruf besar, huruf kecil, dan angka</small>
                      </div>
                    </div>
                    <div class="d-flex mt-3">
                      <button type="submit" class="btn btn-primary mr-2">Ubah Kata Sandi</button>
                      <a href="/admin/dashboard" class="btn btn-light" data-loading>Kembali</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/scripts/__scriptCommitteeAndAdmin.ejs') %>
